
.month-switch-link {
    color: #737373 !important;
    text-decoration: none;
}

/* 申請一覧のタブ */
.active-tab {
    color: black !important;
    /* ✅ クリック時に黒へ変更 */
    font-weight: bold !important;
}

.inactive-tab {
    color: #737373 !important;
    font-weight: 500 !important;
}



